RewriteEngine on
<FilesMatch "^(config\.local\.php|config\.local\.php\.example)$">
    Require all denied
</FilesMatch>
# Nếu kh phải là file hoặc thu mục thìu sẽ điều hướng đến index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
